$dark : #252525;
$violet : #6930c3;
$indigo : #64dfdf;
$torq : #80ffdb;

.full-calendar{
    font-family: 'Source Sans Pro', sans-serif;
    width : 100%;
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    .Top{
        width : 100%;
        padding : 24px 40px;
        display: flex;
        justify-content: space-between;
        background-color: $violet;
        #prevMonth, #nextMonth{
            display : flex;
            align-items: center;
            &:hover{
                cursor: pointer;
            }
        }
        .DivCurrent{
            display : flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .MonthName {
                font-size : 1.2rem;
                text-transform: uppercase;
                font-weight: 400;
            }
            .CurrentDate{
                padding : 5px 0px;
                font-size : 0.75rem;
                font-weight: 600;
                color : rgba(255, 255, 255, 0.6);
            }
        }

    }
    .Labels{
        width : 100%;
        display : grid;
        grid-template-columns: repeat(7, 1fr);
        padding : 20px 0px 5px 0px;
        .Label{
            text-align: center;
            color : #aaa;
            font-size : 0.8rem;
            
        }
    }
    .Dates{
        padding : 16px 0px;
        font-size : 0.8rem;
        display : grid;
        grid-template-columns: repeat(7, 1fr);
        font-weight: 600;
        
        .Date{
            padding : 10px 0px;
            display : flex;
            flex-direction: column;
            transition : all 0.2s;
            border : solid 1px transparent;
            padding : 32px;
            &:hover{
                border : 1px solid $violet;
                cursor: pointer;
            }
            .Number{
                display : flex;
                align-items: center;
                justify-content: center;
            }
            .Events{
                display : flex;
                justify-content: center;
                // position : relative;
                .EventsElement{
                    margin-top : 4px;
                    width : 8px;
                    height : 8px;
                    border-radius: 5px;
                    margin : 4px 2px 0px 2px;
                    &:hover{
                        cursor: pointer;
                        background-color: rgb(255, 255, 255);
                    }
    
                }
                .Hover{
                    position : absolute;
                    transform: translateY(-54px);
                    padding : 8px 5px;
                    // border : solid 1px $dark;
                    background-color: white;
                    color : $dark;
                }
                .Red{
                    background-color: rgb(255, 0, 89);
                }
                .Green{
                    background-color: rgb(36, 255, 16);
                }
                .Blue{
                    background-color: rgb(30, 128, 255);
                }
            }
        }
        .PrevDate, .NextDate{
            padding : 10px 0px;
            display : flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            transition : all 0.2s;
            border : solid 1px transparent;
            padding : 32px;
            color: #666;
        }
        .Active{
            background-color: $violet;
        }
    }
}

.NoDisplay {
    display : none;
}