$dark : #252525;
$violet : #6930c3;
$indigo : #64dfdf;
$torq : #80ffdb;

*{
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
}

::selection{
    color : $dark;
    background-color: $violet;
}

body{
    width : 100%;
    background-color: $dark;
    display : flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    color : #eee;
    padding-bottom : 100px;
}

.Intro{
    width : 80%;
    display : flex;
    align-items: center;
    margin-top : 20px;
    height : 80vh;
    .IntroLeft{
        display : flex;
        flex-direction: column;
        .IntroTitle{
            font-size : 6rem;
            font-weight: 900;
            padding-top : 20px;
        }
        .IntroDescription{
            font-size : 1rem;
            padding : 0px 20px;
            color : #aaa;
            font-family: 'Roboto Condensed';
        }
    }
}

.Container{
    width : 80%;
    box-shadow:  -12px -12px 15px #1f1f1f, 12px 12px 15px #2b2b2b;
    .Top{
        width : 100%;
        padding : 24px 40px;
        display: flex;
        justify-content: space-between;
        background-color: $violet;
        i{
            display : flex;
            align-items: center;
            &:hover{
                cursor: pointer;
            }
        }
        .DivCurrent{
            display : flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .MonthName {
                font-size : 1.2rem;
                text-transform: uppercase;
                font-weight: 400;
            }
            .CurrentDate{
                padding : 5px 0px;
                font-size : 0.75rem;
                font-weight: 600;
                color : rgba(255, 255, 255, 0.6);
            }
        }

    }
    .Labels{
        width : 100%;
        display : grid;
        grid-template-columns: repeat(7, 1fr);
        padding : 20px 0px 5px 0px;
        .Label{
            text-align: center;
            color : #aaa;
            font-size : 0.8rem;
            
        }
    }
    .Dates{
        padding : 16px 0px;
        font-size : 0.8rem;
        display : grid;
        grid-template-columns: repeat(7, 1fr);
        font-weight: 600;
        
        .Date{
            padding : 10px 0px;
            display : flex;
            flex-direction: column;
            transition : all 0.2s;
            border : solid 1px transparent;
            padding : 32px;
            &:hover{
                border : 1px solid $violet;
                cursor: pointer;
            }
            .Number{
                display : flex;
                align-items: center;
                justify-content: center;
            }
            .Events{
                display : flex;
                justify-content: center;
                // position : relative;
                .EventsElement{
                    margin-top : 4px;
                    width : 8px;
                    height : 8px;
                    border-radius: 5px;
                    margin : 4px 2px 0px 2px;
                    &:hover{
                        cursor: pointer;
                        background-color: rgb(255, 255, 255);
                    }
    
                }
                .Hover{
                    position : absolute;
                    transform: translateY(-54px);
                    padding : 8px 5px;
                    // border : solid 1px $dark;
                    background-color: white;
                    color : $dark;
                }
                .Red{
                    background-color: rgb(255, 0, 89);
                }
                .Green{
                    background-color: rgb(36, 255, 16);
                }
                .Blue{
                    background-color: rgb(30, 128, 255);
                }
            }
        }
        .PrevDate, .NextDate{
            padding : 10px 0px;
            display : flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            transition : all 0.2s;
            border : solid 1px transparent;
            padding : 32px;
            color: #666;
        }
        .Active{
            background-color: $violet;
        }
    }
}

.NoDisplay {
    display : none;
}