.full-calendar {
  font-family: 'Source Sans Pro', sans-serif;
  width: 80%;
}

.full-calendar * {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.full-calendar .Top {
  width: 100%;
  padding: 24px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #6930c3;
}

.full-calendar .Top i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.full-calendar .Top i:hover {
  cursor: pointer;
}

.full-calendar .Top .DivCurrent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.full-calendar .Top .DivCurrent .MonthName {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 400;
}

.full-calendar .Top .DivCurrent .CurrentDate {
  padding: 5px 0px;
  font-size: 0.75rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6);
}

.full-calendar .Labels {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  padding: 20px 0px 5px 0px;
}

.full-calendar .Labels .Label {
  text-align: center;
  color: #aaa;
  font-size: 0.8rem;
}

.full-calendar .Dates {
  padding: 16px 0px;
  font-size: 0.8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
}

.full-calendar .Dates .Date {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: solid 1px transparent;
  padding: 32px;
}

.full-calendar .Dates .Date:hover {
  border: 1px solid #6930c3;
  cursor: pointer;
}

.full-calendar .Dates .Date .Number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.full-calendar .Dates .Date .Events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.full-calendar .Dates .Date .Events .EventsElement {
  margin-top: 4px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  margin: 4px 2px 0px 2px;
}

.full-calendar .Dates .Date .Events .EventsElement:hover {
  cursor: pointer;
  background-color: white;
}

.full-calendar .Dates .Date .Events .Hover {
  position: absolute;
  -webkit-transform: translateY(-54px);
          transform: translateY(-54px);
  padding: 8px 5px;
  background-color: white;
  color: #252525;
}

.full-calendar .Dates .Date .Events .Red {
  background-color: #ff0059;
}

.full-calendar .Dates .Date .Events .Green {
  background-color: #24ff10;
}

.full-calendar .Dates .Date .Events .Blue {
  background-color: #1e80ff;
}

.full-calendar .Dates .PrevDate, .full-calendar .Dates .NextDate {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: solid 1px transparent;
  padding: 32px;
  color: #666;
}

.full-calendar .Dates .Active {
  background-color: #6930c3;
}

.NoDisplay {
  display: none;
}
/*# sourceMappingURL=mainFull.css.map */